<nav>
    <a href="/">Home</a>
    <a href="/menu">Full Menu</a>
    <a href="/menu/mains">Mains</a>
    <a href="/menu/desserts">Desserts</a>
    <a href="/menu/sides">Sides</a>
</nav>


<style>

    nav {
        display: flex;
        justify-content: space-around;
        font-size: 30px;
    }

</style>